source https://api.nuget.org/v3/index.json
framework: net452

nuget FSharp.Core
nuget Fake.Lib

group Build
    content: nuget
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    github fsharp/FAKE modules/Octokit/Octokit.fsx
